<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alumini Assosiation Platform</title>
</head>
<body>
  <%- include("partials/header") %>
<link rel="stylesheet" href="/css/style.css">

<h2>Alumni Dashboard</h2>

<p>Welcome to the Alumni Association Platform.</p>

<ul>
  <li><a href="/directory">Alumni Directory</a></li>
  <li><a href="/jobs">Job Portal</a></li>
  <li><a href="/admin/events">Events & Reunions</a></li>
  <li><a href="/donate">Donation Portal</a></li>
</ul>

<%- include("partials/footer") %>
</body>
</html>